body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

// $saffron-background: #ff993380;
$saffron-background: #ff9933;
$white-background: #fff;
$green-background: #138808;

@import "./components";
@import "./home";
@import "./article";

// common styling
header {
  position: sticky;
  top: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

// div {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;
//   background: linear-gradient(
//     180deg,
//     rgba(255, 103, 31, 1) 0%,
//     rgba(255, 255, 255, 1) 40%,
//     rgba(255, 255, 255, 1) 60%,
//     rgba(4, 106, 56, 1) 100%
//   );
// }

// h1 {
//   font-size: 64px;
//   text-align: center;
//   color: #06038d;
// }
